.icon-blank {
    background: url('icons/blank.gif') no-repeat center center;
}

.icon-add {
    background: url('icons/edit_add.png') no-repeat center center;
}

.icon-edit {
    background: url('icons/pencil.png') no-repeat center center;
}

.icon-remove {
    background: url('icons/edit_remove.png') no-repeat center center;
}

.icon-save {
    background: url('icons/filesave.png') no-repeat center center;
}

.icon-cut {
    background: url('icons/cut.png') no-repeat center center;
}

.icon-ok {
    background: url('icons/ok.png') no-repeat center center;
}

.icon-no {
    background: url('icons/no.png') no-repeat center center;
}

.icon-cancel {
    background: url('icons/cancel.png') no-repeat center center;
}

.icon-reload {
    background: url('icons/reload.png') no-repeat center center;
}

.icon-search {
    background: url('icons/search.png') no-repeat center center;
}

.icon-print {
    background: url('icons/print.png') no-repeat center center;
}

.icon-help {
    background: url('icons/help.png') no-repeat center center;
}

.icon-undo {
    background: url('icons/undo.png') no-repeat center center;
}

.icon-redo {
    background: url('icons/redo.png') no-repeat center center;
}

.icon-back {
    background: url('icons/back.png') no-repeat center center;
}

.icon-sum {
    background: url('icons/sum.png') no-repeat center center;
}

.icon-tip {
    background: url('icons/tip.png') no-repeat center center;
}

.icon-mini-add {
    background: url('icons/mini_add.png') no-repeat center center;
}

.icon-mini-edit {
    background: url('icons/mini_edit.png') no-repeat center center;
}

.icon-mini-refresh {
    background: url('icons/mini_refresh.png') no-repeat center center;
}

.icon-up {
    background: url('icons/up.gif') no-repeat center center;
}

.icon-down {
    background: url('icons/down.gif') no-repeat center center;
}

.icon-sale {
    background: url('icons/sale.png') no-repeat center center;
}

.icon-view {
    background: url('icons/view.gif') no-repeat center center;
}

.icon-audit {
    background: url('icons/audit.gif') no-repeat center center;
}

.icon-money {
    background: url('icons/money.png') no-repeat center center;
}

.icon-exchange {
    background: url('icons/exchange.png') no-repeat center center;
}

.icon-returns {
    background: url('icons/returns.png') no-repeat center center;
}

.icon-delivery {
    background: url('icons/delivery.png') no-repeat center center;
}

.icon-reject {
    background: url('icons/reject.png') no-repeat center center;
}

.icon-cartin {
    background: url('icons/cartin.png') no-repeat center center;
}
.icon-lock {
    background: url('icons/icon-lock.gif') no-repeat center center;
}
.icon-unlock {
    background: url('icons/icon-unlock.gif') no-repeat center center;
}
.icon-address{
    background: url('icons/address.png') no-repeat center center;
}
.icon-log{
    background: url('icons/report_user.png') no-repeat center center;
}
.icon-user{
    background: url('icons/user_suit.gif') no-repeat center center;
}
.icon-backward{
    background: url('icons/backward.gif') no-repeat center center;
}
.icon-foward{
    background: url('icons/foward.gif') no-repeat center center;
}
.icon-excel{
    background: url('icons/excel.png') no-repeat center center;
}
.icon-timeadd{
    background: url('icons/time_add.png') no-repeat center center;
}
.icon-timedel{
    background: url('icons/time_del.png') no-repeat center center;
}
.icon-timeedit{
    background: url('icons/time_edit.png') no-repeat center center;
}
.icon-xcz{
    background: url('icons/default.png') no-repeat center center;
}
.icon-wchat{
    background: url('icons/weixin.png') no-repeat center center;
}
.icon-prize{
    background: url('icons/prize.png') no-repeat center center;
}
.icon-set{
    background: url('icons/set.png') no-repeat center center;
}
.icon-invoice{
    background: url('icons/invoice.png') no-repeat center center;
}
.icon-reset{
    background: url('icons/reset.png') no-repeat center center;
}
.icon-panDian{
    background: url('icons/panDian.png') no-repeat center center;
}
.icon-panKui{
    background: url('icons/panKui.png') no-repeat center center;
}
.icon-panGet{
    background: url('icons/panGet.png') no-repeat center center;
}
.icon-panAll{
    background: url('icons/panAll.png') no-repeat center center;
}
.icon-checkAll{
     background: url('icons/checkAll.png') no-repeat center center;
 }